/* Navbar  */

.offcanvas-body {
    color: black !important;
    background-color: #fafafa;
    border-radius: 25px;
    font-family: "Roboto";
    justify-content: center;

}

.navlink {
color:black
}

.navbar-brand{
color: chartreuse;

}

body {
background-color: black;
font-family: "Roboto";
}


#video-background {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
  }

  /* Estilo para evitar que el contenido se superponga */
  #content {
    position: relative;
    z-index: 1;
  }