/* Navbar  */

.offcanvas { 
	color:black
	font-family: "Roboto";
	}

	.nav-link {
		color: black;
		font-family: "Roboto";
		font-weight: 500;
	}


.offcanvas-body {
    color: black ;
    background-color: #fafafa;
    border-radius: 25px;
    font-family: "Roboto";
    justify-content: center;

}

@media (max-width: 991px) {
  .offcanvas { 
		color: white ;
    background-color: #fafafa56;
        font-family: "Roboto";
    justify-content: center;
    backdrop-filter: blur(10px);
  }
	.offcanvas-body {
		background-color:transparent;
		color:white !important;
		font-family: "Roboto";
	}
	.nav-link {
		color: rgb(255, 255, 255);
		font-family: "Roboto";
		font-weight: 300;
	}
}



.navbar-brand{
color: chartreuse;

}

body {
background-color: black;
font-family: "Roboto";
}


#video-background {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
  }

  /* Estilo para evitar que el contenido se superponga */
  #content {
    position: relative;
    z-index: 1;
  }