/* Navbar  */

.navbar-brand {
font-family: "Roboto";
font-weight: 300;
color: chartreuse;
padding-top: 100px;
flex: auto;
}



.offcanvas { 
	color:black;
	font-family: "Roboto";
	padding-top: 100px;

	}

	.nav-link {
		color: black;
		font-family: "Roboto";
		font-weight: 500;
		font-size: 15px;

	
		}


.offcanvas-body {
    color: black ;
    background-color: #fafafa;
    border-radius: 25px;
    font-family: "Roboto";
    justify-content: center;
		

}


section {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
min-height: 500px;

}

section:not(#Inicio) {
	display: none;
}

.Inicio h1 {

	font-size: 50px;
	font-family: "roboto";
	font-weight: 300;
	color: #fafafa;
	flex-wrap: wrap;
	padding-left: 200px;
	

}

.Inicio h2 {
	font-size: 20px;
	font-family: "roboto";
	font-weight: 400;
	color: #fafafa;
	padding-right: 200px;
	

	flex-wrap: wrap;


}


.seccion-texto {
	font-family: "roboto";
	font-size: 15px;
	max-width: 500px;
}

.seccion-titulo {
font-size: 25px;
padding: 10px;
max-width: 1000px;

}

#Materia {
	color: #fafafa;
}


#Materia .seccion-titulo{
margin-top: 20px;
font-weight: 300;
color: #fafafa;
}

.bg-gradient {
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}



/* Asegurarse de que las columnas se comporten correctamente */
#Materia .row {
    width: 100%;
}

#Materia .columna1, #Materia .columna2 {
    padding: 30px;
}

#Materia .columna2 {
justify-content: end;

}

#Materia .img-fluid {
    max-width: 100%;
    height: 100px;
    border-radius: 0.5rem; /* Si deseas bordes redondeados para las imágenes */
    margin-top: 15px; /* Espacio adicional alrededor de las imágenes */
	

	
}



@media (max-width: 991px) {

	.navbar-brand {
		padding-top: 0px;
		padding-right: 0px;
	}

  .offcanvas { 
		color: white ;
    background-color: #fafafa56;
        font-family: "Roboto";
    justify-content: center;
    backdrop-filter: blur(10px);
		padding-top: 0px;
  }
	.offcanvas-body {
		background-color:transparent;
		color:white !important;
		font-family: "Roboto";
	}
	.nav-link {
		color: rgb(255, 255, 255);
		font-family: "Roboto";
		font-weight: 300;
	}

	h1 {

		font-size: 40px;
		font-family: "roboto";
		font-weight: 400;
		color: #fafafa;
		flex-wrap: wrap;
		flex-direction: row;
		display: flex;
		
	
	}
	
	h2 {
		font-size: 20px;
		font-family: "roboto";
		font-weight: 400;
		color: #fafafa;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		
	
	
	}
	
}







body {
background-color: black;
font-family: "Roboto";
}


#video-background {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
  }

  /* Estilo para evitar que el contenido se superponga */
  #content {
    position: relative;
    z-index: 1;
  }